/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

img,
picture,
video,
canvas,
svg,
iframe {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

a,
button {
	white-space: nowrap;
}

ul {
	list-style-type: none;
}

/* 
font-family: 'Anonymous Pro', monospace;
font-family: 'DM Sans', sans-serif;
font-family: 'Cursed Timer ULiL', sans-serif; 
*/
